/*=============================
	Mobile Menu
===============================*/
.nav-outer .mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 40px;
  line-height: 50px;
  cursor: pointer;
  display: none;
  color: var(--thm-white);
  margin-right: 30px;
  top: 15px;
}

.nav-logo img {
  width: 150px;
}

.mobile-menu {
  position: fixed;
  right: 0;
  top: 0;
  width: 300px;
  padding-right: 30px;
  max-width: 100%;
  height: 100%;
  z-index: 99;
  border-radius: 0px;
  transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -moz-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -ms-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86) e;
  -o-transition: all 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translateX(101%);
  -ms-transform: translateX(101%);
  transform: translateX(101%);
}

.mobile-menu .navbar-collapse {
  display: block !important;
}

.mobile-menu .nav-logo {
  position: relative;
  padding: 30px 25px;
  text-align: left;
}

.mobile-menu-visible {
  overflow: hidden;
}

.mobile-menu-visible .mobile-menu {
  -webkit-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
}

.mobile-menu .navigation li.current > a:before {
  height: 100%;
}

.menu-backdrop {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -webkit-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.5);
}

.mobile-menu-visible .menu-backdrop {
  opacity: 1;
  visibility: visible;
}

.mobile-menu .menu-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--thm-white);
  padding: 0px 0px;
  z-index: 5;
  box-shadow: -9px 0 14px 0px rgb(0 0 0 / 6%);
}

.mobile-menu-visible .mobile-menu .menu-box {
  opacity: 1;
  visibility: visible;
}

.mobile-menu .close-btn {
  position: absolute;
  right: 15px;
  top: 28px;
  line-height: 30px;
  width: 35px;
  text-align: center;
  font-size: 20px;
  color: #292b37;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}

.mobile-menu-visible .mobile-menu .close-btn {
  -webkit-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}

.mobile-menu .navigation {
  position: relative;
  display: block;
  width: 100%;
  float: none;
  margin: 0;
  padding: 0;
}

.mobile-menu .navigation ul {
  padding: 0;
  margin: 0;
}

.mobile-menu .navigation li {
  position: relative;
  display: block;
  border-top: 1px solid rgb(0 0 0 / 10%);
}

.mobile-menu .navigation:last-child {
  border-bottom: 1px solid rgb(0 0 0 / 10%);
}

.mobile-menu .navigation li > ul > li:first-child {
  border-top: 1px solid rgb(0 0 0 / 10%);
}

.mobile-menu .navigation li > a {
  position: relative;
  display: block;
  line-height: 24px;
  padding: 10px 60px 10px 25px;
  font-size: 16px;
  font-weight: 700;
  color: var(--thm-black);
  text-transform: capitalize;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  border: none;
}

.mobile-menu .navigation li > a:hover {
  color: var(--thm-primary);
}

.mobile-menu .navigation li ul li > a {
  font-size: 16px;
  margin-left: 20px;
  text-transform: capitalize;
}

.mobile-menu .navigation li ul li ul li a {
  margin-left: 40px;
}

.mobile-menu .navigation li ul li ul li ul li a {
  margin-left: 60px;
}

.mobile-menu .navigation li > a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 0;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.mobile-menu .navigation li.menu-item-has-children .dropdown-btn {
  position: absolute;
  right: 15px;
  top: 6px;
  width: 32px;
  height: 32px;
  text-align: center;
  font-size: 16px;
  line-height: 32px;
  color: var(--thm-white);
  background: var(--thm-primary);
  cursor: pointer;
  border-radius: 2px;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  z-index: 5;
}

.mobile-menu .navigation li.menu-item-has-children .dropdown-btn i {
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.mobile-menu .navigation li.menu-item-has-children .dropdown-btn.open i {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  color: var(--thm-primary);
}

.mobile-menu .navigation li > ul,
.mobile-menu .navigation li > ul > li > ul {
  display: none;
}

.mobile-menu .social-links ul {
  display: flex;
  position: relative;
  text-align: center;
  padding: 30px 20px 20px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.mobile-menu .social-links li {
  position: relative;
  display: inline-block;
  margin: 0px 6px 10px;
}

.mobile-menu .social-links li a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: relative;
  line-height: 32px;
  font-size: 16px;
  color: var(--thm-black);
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
  border: 1px solid var(--thm-black);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.mobile-menu .social-links li a:hover {
  border-color: var(--thm-primary);
  background: var(--thm-primary);
  color: var(--thm-white);
}

.menu-area .mobile-nav-toggler {
  position: relative;
  float: right;
  font-size: 30px;
  cursor: pointer;
  line-height: 1;
  color: var(--thm-white);
  display: none;
  padding: 34px 0 35px;
  transition: all 200ms linear;
  transition-delay: 0.1s;
  z-index: 5;
}

.menu-area .mobile-nav-toggler:hover {
  color: var(--thm-primary);
}

.mobile-menu .contact-info {
  position: relative;
  display: flex;
  align-items: center;
  padding: 30px 25px 0px;
}

.mobile-menu .contact-info .icon-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  background: var(--thm-primary);
  border-radius: 50%;
}

.mobile-menu .contact-info .icon-box span {
  position: relative;
  display: inline-block;
  color: var(--thm-white);
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
}

.mobile-menu .contact-info p {
  margin: 0;
  margin-left: 15px;
  font-weight: 600;
}

.mobile-menu .contact-info p a {
  color: var(--thm-black);
}

.mobile-menu .contact-info p a:hover {
  color: var(--thm-primary);
}

@keyframes menu_sticky {
  0% {
    margin-top: -90px;
  }

  50% {
    margin-top: -50px;
  }

  100% {
    margin-top: 0;
  }
}

.sticky-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin: auto;
  background: var(--thm-white);
  -webkit-animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  animation: 1000ms ease-in-out 0s normal none 1 running fadeInDown;
  -webkit-box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  box-shadow: 0 10px 15px rgba(25, 25, 25, 0.1);
  border-radius: 0;
  z-index: 99;
  animation-name: menu_sticky;
  animation-duration: 0.6s;
  animation-timing-function: ease-out;
  transition: all 0.25s ease-in-out;
}

.sticky-menu .navbar-wrap ul li a {
  padding: 40.5px 0px 39.5px;
}

/*=============================
	Main Header Css
===============================*/
.main-header {
  position: relative;
  display: block;
  width: 100%;
  z-index: 99;
}

.menu-wrap {
  position: relative;
  display: block;
}

.menu-area__inner {
  position: relative;
  display: block;
}

.menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-box-one {
  width: 225px;
  position: relative;
  display: flex;
}

.logo-box-one a {
  position: relative;
  display: inline-block;
}

.navbar-wrap {
  position: relative;
}

.navbar-wrap ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 0;
  margin: 0 0 0 auto;
}

.navbar-wrap ul li {
  position: relative;
  display: block;
  list-style: none;
}

.navbar-wrap ul li + li {
  margin-left: 65px;
}

.navbar-wrap ul li a {
  position: relative;
  display: block;
  color: var(--thm-black);
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
  text-transform: uppercase;
  font-family: var(--thm-font);
  padding: 40.5px 0px 39.5px;
  z-index: 1;
}

.navbar-wrap > ul > li::after {
  position: absolute;
  top: 50%;
  left: -7px;
  bottom: 0;
  width: 15px;
  height: 15px;
  background: #fcae99;
  border-radius: 50%;
  transform: translateY(-50%) scale(0.5);
  opacity: 0;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  content: "";
}

.navbar-wrap > ul > li.active:after,
.navbar-wrap > ul > li.current:after,
.navbar-wrap > ul > li:hover:after {
  transform: translateY(-50%) scale(1);
  opacity: 1;
}

.navbar-wrap > ul > li.active > a,
.navbar-wrap > ul > li.current > a,
.navbar-wrap > ul > li:hover > a {
  color: var(--thm-black);
}

.main-menu .navigation li.menu-item-has-children .dropdown-btn {
  display: none;
}

.navbar-wrap > ul > li.menu-item-has-children > a {
  margin-right: 0px;
}

.navbar-wrap > ul > li.menu-item-has-children > a::before {
  position: absolute;
  top: 50%;
  right: -16px;
  content: "\e905";
  font-weight: 400;
  font-family: "icomoon" !important;
  font-size: 7px;
  line-height: 7px;
  transition: 0.3s linear;
  transform: translateY(-50%);
}

.navbar-wrap ul li .sub-menu {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  min-width: 305px;
  border: 0px solid #f5f5f5;
  background: var(--thm-white);
  margin: 0 0;
  transform: scale(1, 0);
  transform-origin: 0 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
  -moz-box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
  box-shadow: 0px 30px 70px 0px rgba(137, 139, 142, 0.15);
  border-radius: 0;
  padding: 0px 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
}

.navbar-wrap ul li:hover > .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
}

.navbar-wrap ul li .sub-menu .sub-menu {
  right: auto;
  left: 100%;
  top: 0;
}

.navbar-wrap ul li .sub-menu li {
  margin-left: 0;
  text-align: left;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.navbar-wrap ul li .sub-menu li:last-child {
  border-bottom: none;
}

.navbar-wrap ul li .sub-menu li a {
  padding: 15px 15px 13px 25px;
  font-size: 15px;
  line-height: 1.4;
  font-weight: 500;
  color: #5d5d5d;
  background: var(--thm-white);
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-wrap ul li .sub-menu li a:hover {
  color: var(--thm-white);
  background: var(--thm-primary);
}

/*=============================
	Main Header One Css
===============================*/
.main-header-one {
  position: relative;
  display: block;
  background: var(--thm-white);
  z-index: 11;
}

.main-header-one .auto-container {
  max-width: 1750px;
  width: 100%;
}

.main-header-one__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main-header-one__left {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-box-one {
  position: relative;
  display: block;
  padding-right: 70px;
  z-index: 1;
}

.logo-box-one::before {
  position: absolute;
  top: -27px;
  left: -9999999px;
  bottom: -27px;
  right: 0;
  background: var(--thm-primary);
  content: "";
  z-index: -1;
}

.logo-box-one a {
  position: relative;
  display: inline-block;
}

.logo-box-one a img {
  width: 100%;
}

.main-header-one__left .navbar-wrap {
  margin-left: 60px;
}

.main-header-one__right {
  position: relative;
  display: flex;
  align-items: center;
}

.header-contact-box {
  position: relative;
  display: block;
}

.header-contact-box p {
  margin: 0;
}

.header-contact-box p span {
  position: relative;
  display: inline-block;
  color: var(--thm-black);
  font-size: 30px;
  line-height: 30px;
  margin-right: 5px;
  top: 4px;
}

.header-contact-box p a {
  color: var(--thm-black);
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  font-family: var(--thm-font-2);
}

.header-contact-box p a:hover {
  color: var(--thm-primary);
}

.header-search-box {
  position: relative;
  display: block;
  padding-left: 20px;
  margin-left: 20px;
  margin-top: 5px;
}

.header-search-box::before {
  position: absolute;
  top: -3px;
  left: 0;
  bottom: -3px;
  width: 2px;
  background: #e1e1df;
  content: "";
}
.main-menu__search.search-toggler.icon-icon-7 {
  position: relative;
  display: block;
  color: var(--thm-black);
  font-size: 25px;
  line-height: 25px;
}
.header-search-box a {
  position: relative;
  display: block;
  color: var(--thm-black);
  font-size: 25px;
  line-height: 25px;
}
.main-header-one.style3 .search-toggler.icon-icon-7 {
  color: var(--thm-white);
}
.main-header-one__right .btn-box {
  position: relative;
  display: block;
  margin-left: 30px;
}

/*=============================
	Main Header Two Css
===============================*/
.main-header-two {
  position: relative;
  display: block;
}

.main-header-two__top {
  position: relative;
  display: block;
  background: transparent;
  padding: 5px 0;
  z-index: 100;
}

.main-header-two__top::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--thm-primary);
  content: "";
  z-index: -1;
}

.main-header-two__top .auto-container {
  max-width: 1750px;
  width: 100%;
}

.main-header-two__top-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
}

.main-header-two__top-left {
  position: relative;
  display: flex;
  align-items: center;
}

.logo-box-two {
  position: absolute;
  top: -5px;
  left: 0;
  height: 100px;
  width: 200px;
  display: flex;
  align-items: center;
  z-index: 1;
}

.logo-box-two::before {
  position: absolute;
  top: 0;
  left: -1000px;
  bottom: 0;
  right: 0;
  background: var(--thm-primary);
  content: "";
  z-index: -1;
}

.logo-box-two a {
  position: relative;
  display: inline-block;
}

.logo-box-two a img {
  width: auto;
}

.header-btn-box-style2 {
  position: absolute;
  top: -5px;
  right: 0;
  height: 100px;
  width: 200px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header-btn-box-style2:before {
  position: absolute;
  top: 0;
  left: 0px;
  bottom: 0;
  right: -1000px;
  background: var(--thm-primary);
  content: "";
  z-index: -1;
}

.header-btn-box-style2 .thm-btn {
  background-color: var(--thm-primary);
  border: 1px solid rgba(var(--thm-white-rgb), 0.5);
}

.header-btn-box-style2 .thm-btn:hover {
  border-color: var(--thm-black);
}

.header-contact-info-style1 {
  position: relative;
  display: block;
}

.header-contact-info-style1 ul {
  position: relative;
  display: block;
}

.header-contact-info-style1 ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.header-contact-info-style1 ul li:last-child {
  margin-right: 0;
}

.header-contact-info-style1 ul li p {
  color: var(--thm-white);
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.header-contact-info-style1 ul li p a {
  color: var(--thm-white);
}

.header-contact-info-style1 ul li p span {
  position: relative;
  display: inline-block;
  font-size: 12px;
  line-height: 15px;
  padding-right: 3px;
}

.main-header-two__top-right {
  position: relative;
  display: flex;
  align-items: center;
}

.header-contact-info-style2 {
  position: relative;
  display: block;
}

.header-contact-info-style2 > ul {
  position: relative;
  display: flex;
  align-items: center;
}

.header-contact-info-style2 ul li {
  position: relative;
  display: inline-block;
  margin-right: 20px;
}

.header-contact-info-style2 ul li:last-child {
  margin-right: 0;
}

.header-contact-info-style2 ul li p {
  color: var(--thm-white);
  font-size: 15px;
  line-height: 25px;
  font-weight: 500;
}

.header-contact-info-style2 ul li p span {
  position: relative;
  display: inline-block;
  font-size: 15px;
  line-height: 15px;
  padding-right: 3px;
  top: 1px;
}

.language-switcher-style1 {
  position: relative;
  display: flex;
  align-items: center;
}

.language-switcher-style1 .icon {
  position: relative;
  display: block;
  line-height: 0;
  margin-right: 7px;
}

.language-switcher-style1 .icon span {
  position: relative;
  display: inline-block;
  color: var(--thm-white);
  font-size: 15px;
}

.language-switcher-style1 .select-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.language-switcher-style1 .nice-select {
  position: relative;
  display: block;
  background-color: transparent;
  border-radius: 0;
  border: none;
  width: 100%;
  height: 40px;
  color: var(--thm-white);
  font-size: 15px;
  font-weight: 500;
  line-height: 40px;
  outline: none;
  padding-left: 0px;
  padding-right: 25px;
  transition: all 0.2s ease-in-out;
  font-family: var(--thm-font);
}

.language-switcher-style1 .nice-select:after {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  font-family: "icomoon" !important;
  content: "\e905";
  color: var(--thm-white);
  font-size: 8px;
  top: 2px;
  right: 6px;
  bottom: 0;
  margin: 0px;
  font-weight: 400;
  border: none !important;
  transform: rotate(0deg) !important;
  -webkit-transform-origin: 0% 0%;
  -ms-transform-origin: 0% 0%;
  transform-origin: 0% 0%;
  height: 100%;
  width: 15px;
}

.language-switcher-style1 .nice-select .list {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
  padding: 0px 0 0px;
  margin-top: 10px;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: scale(1) translateY(30px);
  -ms-transform: scale(1) translateY(30px);
  transform: scale(1) translateY(30px);
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
  height: 0;
  width: 120px;
  right: 0 !important;
  left: auto !important;
}

.language-switcher-style1 .nice-select.open .list {
  opacity: 1;
  pointer-events: auto;
  -webkit-transform: scale(1) translateY(0);
  -ms-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  height: auto;
}

.language-switcher-style1 .nice-select .option {
  color: var(--thm-black);
  padding-left: 20px;
  padding-right: 20px;
  font-size: 15px;
  line-height: 40px;
  min-height: 40px;
  transition: background-color 0.5s ease;
  transition: all 0.5s ease;
}

.language-switcher-style1 .nice-select .option + .option {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.language-switcher-style1 .nice-select .option:hover,
.language-switcher-style1 .nice-select .option.focus,
.language-switcher-style1 .nice-select .option.selected.focus {
  color: var(--thm-black) !important;
  background-color: var(--thm-primary-color);
}

.main-header-two__top-right .btn-box {
  position: relative;
  display: block;
  margin-left: 38px;
}

.main-header-two__top-right .btn-box .thm-btn {
  background-color: transparent;
  border: 1px solid rgba(var(--thm-white-rgb), 0.5);
}

.main-header-two__top-right .btn-box .thm-btn:hover {
  border-color: var(--thm-black);
}

.main-header-two__bottom {
  position: relative;
  display: block;
  z-index: 99;
}

.main-header-two__bottom .menu-area__inner {
  position: relative;
  display: block;
  background: var(--thm-white);
  padding-right: 50px;
  z-index: 1;
}

.main-header-two__bottom .menu-area__inner::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--thm-white);
  content: "";
  z-index: -1;
}

.main-header-two__bottom .menu-area__inner::after {
  position: absolute;
  top: 50px;
  left: -45px;
  right: -45px;
  height: 20px;
  background: var(--thm-primary);
  content: "";
  z-index: -2;
}

.main-header-two__bottom .navbar-wrap ul li a {
  padding: 33.5px 0px 32.5px;
}

.main-header-two .sticky-menu {
  background: #ffffff;
}

.main-header-two .sticky-menu .logo-box-two {
  position: absolute;
  top: 0px;
  left: 0;
  height: 91px;
}

.main-header-two .sticky-menu .main-header-two__top {
  padding: 0px 0;
}

.main-header-two .sticky-menu .main-header-two__top-left {
  display: none;
}

.main-header-two .sticky-menu .main-header-two__top-right {
  display: none;
}

.main-header-two .sticky-menu .header-btn-box-style2 {
  display: none;
}

.main-header-two
  .sticky-menu
  .main-header-two__bottom
  .menu-area__inner::after {
  display: none;
}

/*=============================
	Main Header Three Css
===============================*/
.main-header-one.style3 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: transparent;
  border-bottom: 1px solid rgba(var(--thm-white-rgb), 0.15);
  z-index: 5;
}

.main-header-one.style3 .logo-box-one::before {
  display: none;
}

.main-header-one.style3 .navbar-wrap > ul > li::after {
  display: none;
}

.main-header-one.style3 .navbar-wrap > ul > li > a {
  color: var(--thm-white);
  padding: 46.5px 0px 45.5px;
}

.main-header-one.style3 .navbar-wrap > ul > li.active > a,
.main-header-one.style3 .navbar-wrap > ul > li:hover > a {
  color: var(--thm-primary);
}

.main-header-one.style3 .header-contact-box p a {
  color: var(--thm-white);
}

.main-header-one.style3 .header-contact-box p a:hover {
  color: var(--thm-primary);
}

.main-header-one.style3 .header-contact-box p span {
  color: var(--thm-white);
}

.main-header-one.style3 .header-search-box::before {
  background: rgba(var(--thm-white-rgb), 0.15);
}

.main-header-one.style3 .header-search-box a {
  color: var(--thm-white);
}

.main-header-one.style3 .header-search-box a:hover {
  color: var(--thm-primary);
}

.main-header-one.style3 .sticky-menu {
  background: var(--thm-black);
}
