/***
=============================================
Brand One
=============================================
***/
.brand-one {
    position: relative;
    display: block;
    background: var(--thm-gray-bg);
    padding: 89px 0 89px;
    overflow: hidden;
    z-index: 1;
}

.brand-one .swiper-slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    transition: .5s ease;
    overflow: hidden;
    cursor: pointer;
}

.brand-one .swiper-slide .img-box {
    position: relative;
    display: block;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.brand-one .swiper-slide:hover .img-box {
    transform: translateY(-100%);
}

.brand-one .swiper-slide .img-box img {
    opacity: 1.0;
    width: auto;
}

.brand-one .swiper-slide .img-box2 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(100%);
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.brand-one .swiper-slide:hover .img-box2 {
    transform: translateY(0);
}

.brand-one .swiper-slide .img-box2 img {
    opacity: 1;
}

/***
======================================
Brand Two
======================================
***/
.brand-one.style2 {
    position: relative;
    display: block;
    background: var(--thm-white);
    padding: 113px 0 89px;
    z-index: 1;
}

.brand-one.style2 .title-box {
    position: relative;
    display: block;
    margin-bottom: 45px;
    z-index: -1;
}

.brand-one.style2 .title-box::before {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 1px;
    background: #D9D9D9;
    content: "";
    z-index: -1;
    transform: translateY(-50%);
}

.brand-one.style2 .title-box p {
    position: relative;
    display: inline-block;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    text-transform: capitalize;
    padding: 0px 20px 0px;
    font-family: var(--thm-font-2);
}

.brand-one.style2 .title-box p::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: var(--thm-white);
    content: "";
    z-index: -1;
}

/***
======================================
Brand Three
======================================
***/
.brand-one.style3 {
    position: relative;
    display: block;
    background: transparent;
    border-bottom: 1px solid rgba(var(--thm-white-rgb), 0.10);
    padding-top: 0px;
}